apex==0.9.10dev
benepar==0.2.0
bert_score==0.3.12
blobfile==2.0.0
dataset==1.5.2
en_core_web_sm==2.3.1
evaluate==0.4.0
filelock==3.8.0
jsonlines==2.0.0
matplotlib==3.6.2
nltk==3.7
numpy==1.23.5
pandas==1.5.2
plotly==5.11.0
psutil==5.9.0
PyYAML==6.0
requests==2.28.1
scikit_learn==1.2.0
seaborn==0.12.2
sentence_transformers==2.2.2
spacy==2.3.5
spacy_stanza==1.0.2
stanza==1.4.2
tensorboardX==2.5.1
tensorflow==2.11.0
torch==1.13.0
torch_xla==1.0
torchmetrics==0.11.0
tqdm==4.64.1
transformers==4.22.2
